/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */
/* toto je černá magie, na kterou nešahej! */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

/*
BARVY
czechitas                 #b92e81
šedé pozadí stránky       #bdc3c7
tmavé pozadí pod textem   #31363b
dělítka mezi tlačítky     #3f464d
tlačítko portfolio        #e74c3c
tlačítko facebook         #3b5998
tlačítko twitter          #1da1f2
*/


body {
  background-color: #bdc3c7;
  line-height: 1.5;
  font-family: 'Montserrat', sans-serif;
  color: rgb(203, 203, 226);
}

.profil {
  position: relative;
  width: 300px;
}

.hlavicka {
  max-width: inherit;
  overflow: auto;
}

h1 {
color: white;
}

.foto {
  width: 100%;
  display: block;
}

.obsah {
  background-color: #31363b;
  padding: 2em;
}

.logo {
  background-color: #b92e81;
  border-radius: 50%;
  position: absolute;
  left: 210px;
  top: 180px;
}

ul {
  padding: 0;
  text-align: center;
}

.portfolio,
.facebook,
.twitter {
  background-color: #31363b;
  border: 1px solid  #bdc3c7;
}

.odkazy a {
  text-decoration: none;
  color: #bdc3c7;
  padding: 20px 0;
}

.odkazy li {
  list-style-type: none;
}

